@value makerGreen, makerWhite,makerBlack from '../../common/colors.css';

.button{
    background-color: #364d3d;
    color: makerWhite;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5em;
    flex: 1 1 50%;
    font-size: 0.8rem;
    outline: none;
    border: none;
}
.button:hover{
    opacity: 0.8;
}