@value makerWheat, makerShadow, makerBlack , makerWhite ,makerColorful  from '../../common/colors.css';
.card{
    display: flex;
    width: 100%;
    align-items:  center;
    margin-bottom: 0.5em;
    border-radius: 1em;
    padding: 0.2em;
    box-shadow: 6px 6px 8px 0px rgba(217,217,217,1);
    max-width: 30rem;
}

.card.purple {
    background-color: #e7dfea;
    color: makerBlack;
}

.card.green{
    background-color: #d6ece3;
    color: makerBlack;
}

.card.blue{
    background: #d9eaf0;
    color: makerBlack;
}
.card.yellow{
    background: #f9eed7;
    color: makerBlack;
}

.avatar{
    width: 10em;
    height: 10em;
    padding: 1em;
    margin-left: 0.5em;
    margin-right: 1em;
    border-radius: 50%;
}

.info{
    width: 100%;
}

.name, .title, .instargram , .memo{
    margin: 0;
    font-size: 0.8rem;
    margin-bottom: 0.2em;
}

.instargram{
    font-weight: bold;
    margin-bottom: 0.3em;
}

.name{
    font-size: 1.2rem;
}

.mbti{
    margin: 0;
    margin-bottom: 1em;
    font-size: 1rem;
    font-weight: bold;
}

.mbti::after{
    content: '';
    display: block;
    width: 90%;
    height: 2px;
    background-color: #fff;
    transform: translateY(0.5em);
}